language: php

sudo: required

php:
  - 7.0
  - 7.1
  - 7.2snapshot
  - nightly
  - master

matrix:
  allow_failures:
    - php: 7.2snapshot
    - php: nightly
    - php: master


services:
  - docker

before_script:
  - docker run -d --restart=always -p 3301:3301 --name tarantool progaudi/tarantool:1.7
  - composer self-update
  - composer install --no-interaction --prefer-source --optimize-autoloader
  - composer dumpautoload

script: vendor/bin/phpunit

after_script:
  - if [[ -f coverage.clover ]]; then
      curl -sSOL https://scrutinizer-ci.com/ocular.phar &&
      php ocular.phar code-coverage:upload --format=php-clover coverage.clover;
    fi
