language: php

sudo: required

php:
  - 7.0
  - 7.1

services:
  - docker

before_script:
  - docker run -d --restart=always -p 3301:3301 --name tarantool tarantool/tarantool:1.7.3
  - composer self-update
  - composer install --no-interaction --prefer-source --optimize-autoloader
  - composer dumpautoload

script: vendor/bin/phpunit
